<nav class="navbar bg-dark">
  <h2>Online Shop</h2>
  <ul>
    <li routerLinkActive="active">
      <a href="#phone" (click)="setProductPage('phone', $event)">Phone</a>
    </li>
    <li routerLinkActive="active">
      <a href="#tablet" (click)="setProductPage('tablet', $event)">Tablet</a>
    </li>
    <li routerLinkActive="active">
      <a href="#laptop" (click)="setProductPage('laptop', $event)">Laptop</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="order">Order</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet />
</div>
