<div class="container" *ngIf="orderProducts.length > 0; else empty">
  <h2 class="text-center">Your order</h2>

  <table>
    <tbody>
      <tr *ngFor="let orderProduct of orderProducts; let i = index">
        <td>{{ orderProduct.type }}</td>
        <td>{{ orderProduct.title }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteOrder(orderProduct)">
            Delete
          </button>
        </td>
        <td>{{ orderProduct.price }}</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <b class="right">Total: {{ totalPrice }}$</b>

  <h2 class="text-center">Delivery:</h2>

  <div *ngIf="added" class="text-center text-danger">{{ added }}</div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" />
      <div *ngIf="fc['name'].touched && fc['name'].invalid" class="validation">
        <small *ngIf="fc['name'].errors.required">Enter your name</small>
        <small *ngIf="fc['name'].errors.minlength">
          Your name must be at least
          {{ fc["name"].errors.minlength.requiredLength }} characters. Now he
          {{ fc["name"].errors.minlength.actualLength }}
        </small>
      </div>
    </div>

    <div class="form-control">
      <label for="phone">Phone number</label>
      <input id="phone" type="phone" formControlName="phone" />
      <div
        *ngIf="fc['phone'].touched && fc['phone'].invalid"
        class="validation"
      >
        <small *ngIf="fc['phone'].errors.required"
          >Enter your phone number</small
        >
        <small *ngIf="fc['phone'].errors.pattern"
          >Please, Enter 9 digit Mobile Number</small
        >
      </div>
    </div>

    <div class="form-control">
      <label for="address">Address</label>
      <input id="address" type="text" formControlName="address" />
      <div
        *ngIf="fc['address'].touched && fc['address'].invalid"
        class="validation"
      >
        <small *ngIf="fc['address'].errors.required">Enter your address</small>
      </div>
    </div>

    <div class="form-control">
      <label for="payment">Payment Method</label>
      <select formControlName="payment">
        <option selected value="cash">Cash</option>
        <option value="card">Card</option>
      </select>
    </div>

    <button
      type="submit"
      class="btn btn-primary btn-block"
      [disabled]="form.invalid || isSubmit"
    >
      Add
    </button>
  </form>
</div>

<ng-template #empty>
  <h2 class="text-center">Cart is empty, select product</h2>
</ng-template>
